/* 标题页主标题：改字体大小 */
.title {
  font-size: 4.6rem !important;   /* 这里用你在 HTML 里试出来满意的 4.6rem */
}

/* 副标题（如果也想改的话，可以一起调）*/
/*.subtitle {
/*  font-size: 1.4rem !important;
/*}

/* 作者行（可选） */
/* .quarto-title-author-name {
  font-size: 1.2rem !important;
} */

/* 日期（可选） */
/* .date {
  font-size: 1.0rem !important;
} */


.reveal .slide-logo {
  height: 100px !important;
  width: 100px!important;
  max-width: unset !important;
  max-height: unset !important;
  top: 14px !important;
  right: 50px !important;
}



.reveal .result {
  max-height: 100%;
}